html {
  font-size: 1rem;
  font-family: "Bebas", sans-serif;
  background: #fefdfd;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1180px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 570px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

body {
  color: #ffffff;
  font-family: "Bebas", sans-serif;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.card {
  width: 340px;
  min-height: 700px;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
}
.card__header {
  position: relative;
  display: flex;
  height: 200px;
  width: 100%;
}
.card__cover {
  width: 100%;
  height: auto;
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transform: scale(1.5);
}
.card__avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(108, 108, 108, 0.2);
  border-radius: 50%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%) translateY(40px);
}
.card__fullname {
  position: absolute;
  bottom: 18px;
  font-size: 22px;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
.card__jobtitle {
  position: absolute;
  bottom: 15px;
  font-size: 13px;
  letter-spacing: 1.2px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
}

.card__main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
}
.card__section {
  display: none;
}
.card__section.is-active {
  display: block;
  animation: fadeIn 0.6s both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
  }
}
.card__content {
  padding: 20px;
}
.card__subtitle {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.card__text {
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.6470588235);
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.card__social {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 30px 0;
}
.card__social svg {
  fill: rgb(255, 255, 255);
  width: 18px;
  display: block;
  transition: 0.2s all ease;
}
.card__social a {
  color: #93d6ff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}
.card__social a:hover svg {
  fill: rgba(230, 230, 230, 0.355);
}
.card__social a:last-child {
  margin-right: 0;
}

.card_link {
  color: rgba(255, 255, 255, 0.6470588235);
  line-height: 1.2;
  font-size: 14px;
  font-family: "Roboto";
}
.card_link:hover {
  color: #6f6f7b;
  transition: 0.3s all ease;
}
.card__subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}
.card__item {
  position: relative;
  padding-left: 80px;
  padding-bottom: 5px;
}
.card__item:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50px;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #1e42d1;
}

.card__subtitle {
  font-size: 22px;
}
.card__contact {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 15px;
}
.card__contact svg {
  width: 30px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #ffffff;
}
.card__contact a {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.contact__me {
  display: flex;
  justify-content: center;
  background: #4676D7;
  color: #ffffff;
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 20px;
}
.contact__me:hover {
  background: #1d49aa;
  transition: 0.3s all ease;
}
.contact__me:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
  transition: 0.3s all ease;
}

.card-buttons {
  display: flex;
  background-color: rgba(255, 255, 255, 0.88);
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}
.card-buttons button {
  flex: 1 1 auto;
  font-size: 14px;
  padding: 15px 5px;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  border-bottom: 4px solid transparent;
}
.card-buttons button.is-active, .card-buttons button:hover {
  color: #000000;
  border-bottom: 3px solid #4676D7;
  background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
}

.dropbtn {
  background-color: transparent;
  padding: 8px;
  border: none;
}
.dropbtn img {
  width: 25px;
  height: 25px;
}

.dropdown {
  position: relative;
  display: block;
  height: 41px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.88);
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px 10px 33px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  position: relative;
}
.dropdown-content a img {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  transition: 0.3s all ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  transition: 0.3s all ease;
}

/*# sourceMappingURL=index.css.map */
