// header
.header {

    // .header__title
    &__title {
        height: 70px;
        background: $white;
        padding: 24px 0 15px 30px;
        box-shadow: (#f6f6f6) 10px 10px 10px 10px;
            @media (max-width: 479.98px) {
                height: 50px;
                padding: 13px 0 12px 0; 
                text-align: center;
                box-shadow: (#f6f6f6) 3px 3px 3px 3px;
            }
    }

    // .header__subtitle

    &__subtitle {
        font-size: 19px;
        line-height: 26px;
        font-family: 'Avenir';
        font-weight: 400;
        color: #333333;
        @media (max-width: 479.98px) {
            font-size: 12px;
        }
    }
}


// logo
.logo {
    margin: 50px 0 10px 0;
    display: flex;
    justify-content: center;
        @media (max-width: 479.98px) {
            margin: 30px 0 10px 0;
        }

    // .logo__link

    &__link {
        align-items: center;
    }

    // .logo__img

    &__img {
        max-width: 220px;
    }
}



// intro
.intro {
    position: relative;
    &:hover {
        border-radius: 25px;
        box-shadow: rgba(149, 157, 165, 0.301) 0px 8px 24px;
        transition: 0.3s all ease;
        }

    // .intro__bg

    &__bg {
        max-width: 600px;
        height: auto;
        border-radius: 25px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            @media (max-width: 1439.98px) {
                max-width: 100%;
            }
            @media (max-width: 1199.98px) {
                max-width: 100%;
            }
            @media (max-width: 991.98px) {
                max-width: 100%;
            }
            @media (max-width: 767.98px) {
                max-width: 100%;
            }
            @media (max-width: 575.98px) {
                max-width: 100%;
            }
            @media (max-width: 479.98px) {
                max-width: 100%;
            }
    }

    // .intro__title 

    &__text a {
        color: $blue;
        font-family: 'OpenSans';
        background-color: #ffffffba;
        position: absolute;
        bottom: 40px;
        left: 10px;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        &:hover {
            background-color: #ffffff9f;
            transition: 0.3s all ease;
        }
    }
    // .intro__title

    &__title {
        font-size: 25px;
        color: $blue;
            @media (max-width: 479.98px) {
                font-size: 18px;
            }
    }
}


// text 
.text {
    margin: 20px 0;
    height: auto;
    padding: 20px 20px;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
        border-radius: 25px;
        box-shadow: rgba(105, 112, 119, 0.301) 0px 8px 24px;
        transition: 0.3s all ease;
        }
    @media (max-width: 479.98px) {
        font-size: 14px;
        line-height: 20px;
    }

    // .text__title

    &__title {
        font-size: 24px;
        color: $blue;
        padding-bottom: 5px;
        @media (max-width: 479.98px) {
            font-size: 18px;
        }
    }

    // .text__subtitle

    &__subtitle {
        font-size: 18px;
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}


.about {
    height: auto;
    border-radius: 25px;
    line-height: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
        border-radius: 25px;
        box-shadow: rgba(105, 112, 119, 0.301) 0px 8px 24px;
        transition: 0.3s all ease;
        }

    // .about__text

    &__text {
        padding: 20px 20px;
        font-size: 18px;
        line-height: 21px;
        @media (max-width: 479.98px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

// components 
.componets {
    margin: 20px 0;
    height: auto;
    padding: 20px 20px;
    border-radius: 25px;
    line-height: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
        border-radius: 25px;
        box-shadow: rgba(105, 112, 119, 0.301) 0px 8px 24px;
        transition: 0.3s all ease;
        }

    > ul li {
        font-size: 16px;
        line-height: 20px;
        position: relative;
        list-style-image: url(../images/check.svg);
        list-style-position: inside;
    }
    > ul li::marker {
        font-size: 35px;
    }
    
    // .componets__title

    &__title {
        font-size: 24px;
        color: $blue;
        line-height: 21px;
        padding-bottom: 5px;
        @media (max-width: 479.98px) {
            font-size: 18px;
        }
    }

    // .componets__subtitle

    &__subtitle {
        font-size: 18px;
        line-height: 21px;
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}


// info
.info {
    margin: 20px 0;
    height: auto;
    padding: 20px 20px;
    border-radius: 25px;
    line-height: 21px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
        border-radius: 25px;
        box-shadow: rgba(105, 112, 119, 0.301) 0px 8px 24px;
        transition: 0.3s all ease;
        }

    // .info__title

    &__title {
        color: $blue;
        font-size: 24px;
        line-height: 21px;
        padding-bottom: 5px;
        @media (max-width: 479.98px) {
            font-size: 18px;
        }
    }

    // .info__text

    &__text {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 10px;
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
    }
}

.choice {
    font-size: 14px;
    height: auto;
    padding: 10px 10px;
    border-radius: 25px;
    border: 2px dotted #ce2d5a;
}


//icons 
.icons {
    height: auto;
    display: grid;       
    justify-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #cdd6e5;

        @media (max-width: 575.98px) {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }
        @media (max-width: 479.98px) {
            grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
        }
    
    // .icons__content

    &__content {
        width: 60px;
        height: 60px;
        text-align: center;
        align-items: center;
    }

    // .icons__img

    &__img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        @media (max-width: 575.98px) {
        }
        @media (max-width: 479.98px) {
        }
    }

    // .icons__name

    &__name {
        line-height: 13px;
        font-size: 11px;
        color: $grey;
    }
}
