
$black: #000000;
$blue: #4676D7;

@font-face {
    font-family: digital;
    src: url(../fonts/7fonts.ru_DS-DIGI.TTF);
}

@font-face {
    font-family: SanFrancisco;
    src: url(../fonts/SFNSDisplay-Regular.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $black;
}

.container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ffffff;
    background-color: $black;
    padding: 10px 20px;

		// .timer__block

		&__block {
            width: 200px;
		}
}
.time {
    background-color: $black;
    font-family: digital;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 120px;
    font-size: 100px;
}

.title {
    font-family: SanFrancisco;
    background-color: $blue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 20px 20px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 20px auto;
}
.button {
    font-family: 'SanFrancisco';
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 25px;
    width: 180px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 40px;
}

.button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.5s all ease;
}