.footer {
    height: 620px;
    background: #000000;
    width: 1440px;
        @media (max-width: 1439.98px) {
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 1199.98px) {
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 991.98px) {
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 767.98px) {
            max-width: 100%;
            height: auto;
        }
        @media (max-width: 575.98px) {
            max-width: 100%;
            height: auto;
        }

    // .footer__info

    &__info {
        padding-top: 60px;
        display: flex;
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
                flex-direction: column;
                padding-top: 0;
            }
            @media (max-width: 767.98px) {
                flex-direction: column;
                padding-top: 0;
            }
            @media (max-width: 575.98px) {
                flex-direction: column;
                padding-top: 0;
            }
    }

    // .footer__posted

    &__posted {
        max-width: 440px;
        padding-left: 20px;
        @media (max-width: 1439.98px) {
        }
        @media (max-width: 1199.98px) {
        }
        @media (max-width: 991.98px) {
            max-width: 100%;
            margin-top: 10px;
        }
        @media (max-width: 767.98px) {
            max-width: 100%;
            margin-top: 10px;
        }
        &::after {
            display: block;
            content: '';
            border: 1px solid #818181;
            width: 350px;
            margin-top: 20px;
                @media (max-width: 1439.98px) {
                }
                @media (max-width: 1199.98px) {
                }
                @media (max-width: 991.98px) {
                    max-width: 100%;
                    margin-top: 10px;
                }
                @media (max-width: 767.98px) {
                    max-width: 100%;
                    margin-top: 10px;
                }
                @media (max-width: 575.98px) {
                    max-width: 100%;
                    margin-top: 10px;
                }
        }
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                max-width: 100%;
                padding: 0 10px;
            }
    }

    // .footer__posted--title

    &__posted--title {
        font-family: 'Liberation Serif';
        font-size: 42px;
        line-height: 72px;
        color: $white;
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                font-size: 26px;
            }
    }

    // .footer__posted--text

    &__posted--text {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 27px;
        color: $white;
        padding: 0 20px 30px 0;
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                font-size: 16px;
                padding: 0 0 20px 0;
            }
    }

    // .footer__items

    &__items {
        display: flex;
        justify-content: space-between;

            @media (max-width: 991.98px) {
                display: none;
            }
            @media (max-width: 767.98px) {
                display: none;
            }
            @media (max-width: 575.98px) {
                display: none;
            }
    }

    // .footer__menu

    &__menu {
        padding-right: 150px;
        @media (max-width: 1439.98px) {
            padding-right: 110px;
        }
        @media (max-width: 1199.98px) {
            padding-right: 80px;
        }
        &:first-child {
            padding-left: 230px;
            @media (max-width: 1439.98px) {
                padding-left: 90px;
            }
            @media (max-width: 1199.98px) {
                padding-left: 90px;
                
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }

    
    // .footer__menu--item

    &__menu--item {
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 22px;

    }

    // .footer__menu--link

    &__menu--link {
        color: rgba(255, 255, 255, 0.6);
        &:hover {
            color: $white;
            transition: 0.3s all ease;
        }
    }
}

.form {
    max-width: 440px;
    height: 40px;

    // .form__label

    &__label {
        background: transparent;
    }

    // .form__input

    &__input {
        outline: none;
        font-family: 'Roboto';
        font-size: 9px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.12px;
        text-transform: uppercase;
        color: #818181;
        background: transparent;
        padding-right: 200px;
        padding-left: 20px;
        max-width: 300px;
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                max-width: 100%;
                padding: 0 190px 0 10px; 
            }
    }
}
.button {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $black;
    &:hover {
        color: rgba(255, 255, 255, 0.6);
        transition: 0.3s all ease;
    }
}
.contacts {
    padding-top: 90px;
    padding-bottom: 55px;
        @media (max-width: 1439.98px) {
        }
        @media (max-width: 1199.98px) {
        }
        @media (max-width: 991.98px) {
        }
        @media (max-width: 767.98px) {
        }
        @media (max-width: 575.98px) {
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}
.contact {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
        @media (max-width: 1439.98px) {
        }
        @media (max-width: 1199.98px) {
        }
        @media (max-width: 991.98px) {
        }
        @media (max-width: 767.98px) {
        }
        @media (max-width: 575.98px) {
            font-size: 14px;
            line-height: 20px;
        }
    
    // .contact__link

    &__link {
        padding-right: 60px;
        color: rgba(255, 255, 255, 0.6);  
            @media (max-width: 1439.98px) {
            }
            @media (max-width: 1199.98px) {
            }
            @media (max-width: 991.98px) {
            }
            @media (max-width: 767.98px) {
            }
            @media (max-width: 575.98px) {
                padding-right: 25px;
                text-align: center;
            } 
        &:hover {
            color: $white;
            transition: 0.3s all ease;
        }
    }
}
